@CHARSET "UTF-8";

.about_left {
	display: inline-block;
	width: 100px;
}

.about_right {
	display: inline-block;
	width: 300px;
	text-align: left;
}

#about_main p {
	margin-bottom: 18px;
	font-size: 18px;
}

#left {
	margin-left: 88px; display : inline-block;
	width: 450px;
	float: left;
	display: inline-block;
}

#right {
	display: inline-block;
	width: 450px;
	float: left;
}

#right p {
	font-size: 18px;
}